.app {
  background-color: #AF69EE;
  color: white;
  font-family: system-ui;
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 1080px 1080px 1080px;
  text-align: center;
}

.main {
  height: 100%;
}

p {
  margin: 0;
}

#purpose {
  margin-bottom: 16px;
}

h1 {
  padding-top: 150px;
}

#url-box::placeholder {
  text-wrap:wrap;
  color: white;
}

#url-box {  
  width: 50vw;
  height: 3vw;
  border: solid;
  border-color: white;
  border-radius: 0.5vw;
  background-color: #AF69EE;
  margin-bottom: 75px;
}

input:focus {
  outline: none;
}

input[type=text] {
  color: white;
  padding-left: 8px;
} 

.end-div {
  text-align: end;
  margin-right: 10px;
}

a {
  color: white;
}

.product {
  margin-top: 20px;
  height: 5vw;
  border-radius: 0.67vw;
  border: solid;
  border-color: white;
  display: grid;
  grid-template-columns: 3.5fr 0.5fr;
}

button {
  margin-top: 10px;
  display: block;
}

.product-content {
  text-align: left;
  margin-left: 40px;
  margin-top: 8px;
}